<div class="container" data-ng-controller="IndividualsCtrl as tctrl">

    <div class="block-header">
      <h2><span style="font-size: 20pt;">Individuals</span><small>Below are all the individuals inside your COINS container. Read more <a target="_blank" href="https://github.com/sysunite/coins-2-sdk/wiki">here</a> for detailed documentation.</small></h2>

      <ul class="actions m-t-20 hidden-xs">
        <li class="dropdown" uib-dropdown>
          <a href="" uib-dropdown-toggle>
            <i class="zmdi zmdi-more-vert"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li>
              <a href="">Export as CSV</a>
            </li>
            <li>
              <a href="">Export as Turtle</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>


    <div class="card">
        <div class="card-header">
            <h2>All <small>Type something in any filter</small></h2>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table ng-table="tctrl.tableFilter" class="table table-striped table-vmiddle" show-filter="true">
                    <tr ng-repeat="w in $data">
                        <td data-title="'URI'" sortable="'id'" filter="{ 'uri': 'text' }">
                            <a ui-sref="base.individual({uri: w.uri})">{{ w.uri }}</a>
                        </td>
                        <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
                            {{ w.name }}
                        </td>
                        <td data-title="'User'" sortable="'user'" filter="{ 'user': 'text' }">
                            {{ w.user }}
                        </td>
                        <td data-title="'Version'" sortable="'version'" filter="{ 'version': 'text' }">
                            {{ w.version }}
                        </td>
                        <td data-title="'Modifier'" sortable="'modifier'" filter="{ 'modifier': 'text' }">
                            {{ w.modifier}}
                        </td>
                        <td data-title="'Modification date'" sortable="'modificationDate'" filter="{ 'modificationDate': 'text' }">
                            {{ w.modificationDate }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


